plugin: amazon.aws.aws_ec2
regions:
  - ap-south-1

filters:
  tag:Name: "Prometheus-Server"

hostnames:
  - private-ip-address

compose:
  ansible_host: public_ip_address

strict: False

keyed_groups:
  - key: tags.Name
    prefix: tag

groups:
  prometheus_group: "'Prometheus-Server' in tags.Name"

group_vars:
  prometheus_group:
    ansible_user: ubuntu
    ansible_ssh_private_key_file: "{{ lookup('env', 'SSH_KEY') }}"
    ansible_ssh_common_args: "-o IdentitiesOnly=yes"

